i.flag {
  max-width: 320px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px; }

i.flag {
  width: auto;
  clear: right; }

i.flag {
  padding-left: 24px; }

i.flag {
  display: inline-block;
  width: 24px; }

i.flag {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: text-top;
  line-height: 16px;
  background: url(../img/flags.png) no-repeat; }

.banner ._Afrian_Union {
  background-position: 0 -16px; }

.banner ._Arb_League {
  background-position: 0 -32px; }

.banner ._England {
  background-position: 0 -112px; }

.banner ._European_Union, .banner .eu {
  background-position: 0 -128px; }

.banner ._Islamic_Cnference {
  background-position: 0 -144px; }

.banner._Kosovo {
  background-position: 0 -160px; }

.banner ._Northen_Cyprus {
  background-position: 0 -192px; }

.banner ._Norther_Ireland {
  background-position: 0 -208px; }

.banner ._OlimpicMovement {
  background-position: 0 -224px; }

.banner ._OPEC {
  background-position: 0 -240px; }

.banner ._ed_Cross {
  background-position: 0 -256px; }

.banner .Scotland {
  background-position: 0 -272px; }

.banner ._Smaliland {
  background-position: 0 -288px; }

.banner ._Tibet {
  background-position: 0 -304px; }

.banner ._Unite_Nations {
  background-position: 0 -320px; }

.banner ._Wales {
  background-position: 0 -336px; }

.banner .ad {
  background-position: 0 -352px; }

.banner .ae {
  background-position: 0 -368px; }

.banner .af {
  background-position: 0 -384px; }

.banner .ag {
  background-position: 0 -400px; }

.banner .ai {
  background-position: 0 -416px; }

.banner .al {
  background-position: 0 -432px; }

.banner .am {
  background-position: 0 -448px; }

.banner .ao {
  background-position: 0 -464px; }

.banner .aq {
  background-position: 0 -480px; }

.banner .ar {
  background-position: 0 -496px; }

.banner .as {
  background-position: 0 -512px; }

.banner .at {
  background-position: 0 -528px; }

.banner .au {
  background-position: 0 -544px; }

.banner .aw {
  background-position: 0 -560px; }

.banner .ax {
  background-position: 0 -576px; }

.banner .az {
  background-position: 0 -592px; }

.banner .ba {
  background-position: 0 -608px; }

.banner .bb {
  background-position: 0 -624px; }

.banner .bd {
  background-position: 0 -640px; }

.banner .be {
  background-position: 0 -656px; }

.banner .bf {
  background-position: 0 -672px; }

.banner .bg {
  background-position: 0 -688px; }

.banner .bh {
  background-position: 0 -704px; }

.banner .bi {
  background-position: 0 -720px; }

.banner .bj {
  background-position: 0 -736px; }

.banner .bm {
  background-position: 0 -752px; }

.banner .bn {
  background-position: 0 -768px; }

.banner .bo {
  background-position: 0 -784px; }

.banner .br {
  background-position: 0 -800px; }

.banner .bs {
  background-position: 0 -816px; }

.banner .bt {
  background-position: 0 -832px; }

.banner .bw {
  background-position: 0 -848px; }

.banner .by {
  background-position: 0 -864px; }

.banner .bz {
  background-position: 0 -880px; }

.banner .ca {
  background-position: 0 -896px; }

.banner .cg {
  background-position: 0 -912px; }

.banner .cf {
  background-position: 0 -928px; }

.banner .cd {
  background-position: 0 -944px; }

.banner .ch {
  background-position: 0 -960px; }

.banner .ci {
  background-position: 0 -976px; }

.banner .ck {
  background-position: 0 -992px; }

.banner .cl {
  background-position: 0 -1008px; }

.banner .cm {
  background-position: 0 -1024px; }

.banner .cn {
  background-position: 0 -1040px; }

.banner .co {
  background-position: 0 -1056px; }

.banner .cr {
  background-position: 0 -1072px; }

.banner .cu {
  background-position: 0 -1088px; }

.banner .cv {
  background-position: 0 -1104px; }

.banner .cy {
  background-position: 0 -1120px; }

.banner .cz {
  background-position: 0 -1136px; }

.banner .de {
  background-position: 0 -1152px; }

.banner .dj {
  background-position: 0 -1168px; }

.banner .dk {
  background-position: 0 -1184px; }

.banner .dm {
  background-position: 0 -1200px; }

.banner .do {
  background-position: 0 -1216px; }

.banner .dz {
  background-position: 0 -1232px; }

.banner .ec {
  background-position: 0 -1248px; }

.banner .ee {
  background-position: 0 -1264px; }

.banner .eg {
  background-position: 0 -1280px; }

.banner .eh {
  background-position: 0 -1296px; }

.banner .er {
  background-position: 0 -1312px; }

.banner .es {
  background-position: 0 -1328px; }

.banner .et {
  background-position: 0 -1344px; }

.banner .fi {
  background-position: 0 -1360px; }

.banner .fj {
  background-position: 0 -1376px; }

.banner .fm {
  background-position: 0 -1392px; }

.banner .fo {
  background-position: 0 -1408px; }

.banner .fr {
  background-position: 0 -1424px; }

.banner .bl, .banner .cp, .banner .mf, .banner .yt {
  background-position: 0 -1424px; }

.banner .ga {
  background-position: 0 -1440px; }

.banner .gb {
  background-position: 0 -1456px; }

.banner .sh {
  background-position: 0 -1456px; }

.banner .gd {
  background-position: 0 -1472px; }

.banner .ge {
  background-position: 0 -1488px; }

.banner .gg {
  background-position: 0 -1504px; }

.banner .gh {
  background-position: 0 -1520px; }

.banner .gi {
  background-position: 0 -1536px; }

.banner .gl {
  background-position: 0 -1552px; }

.banner .gm {
  background-position: 0 -1568px; }

.banner .gn {
  background-position: 0 -1584px; }

.banner .gp {
  background-position: 0 -1600px; }

.banner .gq {
  background-position: 0 -1616px; }

.banner .gr {
  background-position: 0 -1632px; }

.banner .gt {
  background-position: 0 -1648px; }

.banner .gu {
  background-position: 0 -1664px; }

.banner .gw {
  background-position: 0 -1680px; }

.banner .gy {
  background-position: 0 -1696px; }

.banner .hk {
  background-position: 0 -1712px; }

.banner .hn {
  background-position: 0 -1728px; }

.banner .hr {
  background-position: 0 -1744px; }

.banner .ht {
  background-position: 0 -1760px; }

.banner .hu {
  background-position: 0 -1776px; }

.banner .id {
  background-position: 0 -1792px; }

.banner .mc {
  background-position: 0 -1792px; }

.banner .ie {
  background-position: 0 -1808px; }

.banner .il {
  background-position: 0 -1824px; }

.banner .im {
  background-position: 0 -1840px; }

.banner .in {
  background-position: 0 -1856px; }

.banner .iq {
  background-position: 0 -1872px; }

.banner .ir {
  background-position: 0 -1888px; }

.banner .is {
  background-position: 0 -1904px; }

.banner .it {
  background-position: 0 -1920px; }

.banner .je {
  background-position: 0 -1936px; }

.banner .jm {
  background-position: 0 -1952px; }

.banner .jo {
  background-position: 0 -1968px; }

.banner .jp {
  background-position: 0 -1984px; }

.banner .ke {
  background-position: 0 -2000px; }

.banner .kg {
  background-position: 0 -2016px; }

.banner .kh {
  background-position: 0 -2032px; }

.banner .ki {
  background-position: 0 -2048px; }

.banner .km {
  background-position: 0 -2064px; }

.banner .kn {
  background-position: 0 -2080px; }

.banner .kp {
  background-position: 0 -2096px; }

.banner .kr {
  background-position: 0 -2112px; }

.banner .kw {
  background-position: 0 -2128px; }

.banner .ky {
  background-position: 0 -2144px; }

.banner .kz {
  background-position: 0 -2160px; }

.banner .la {
  background-position: 0 -2176px; }

.banner .lb {
  background-position: 0 -2192px; }

.banner .lc {
  background-position: 0 -2208px; }

.banner .li {
  background-position: 0 -2224px; }

.banner .lk {
  background-position: 0 -2240px; }

.banner .lr {
  background-position: 0 -2256px; }

.banner .ls {
  background-position: 0 -2272px; }

.banner .lt {
  background-position: 0 -2288px; }

.banner .lu {
  background-position: 0 -2304px; }

.banner .lv {
  background-position: 0 -2320px; }

.banner .ly {
  background-position: 0 -2336px; }

.banner .ma {
  background-position: 0 -2352px; }

.banner .md {
  background-position: 0 -2368px; }

.banner .me {
  background-position: 0 -2384px; }

.banner .mg {
  background-position: 0 -2400px; }

.banner .mh {
  background-position: 0 -2416px; }

.banner .mk {
  background-position: 0 -2432px; }

.banner .ml {
  background-position: 0 -2448px; }

.banner .mm {
  background-position: 0 -2464px; }

.banner .mn {
  background-position: 0 -2480px; }

.banner .mo {
  background-position: 0 -2496px; }

.banner .mq {
  background-position: 0 -2512px; }

.banner .mr {
  background-position: 0 -2528px; }

.banner .ms {
  background-position: 0 -2544px; }

.banner .mt {
  background-position: 0 -2560px; }

.banner .mu {
  background-position: 0 -2576px; }

.banner .mv {
  background-position: 0 -2592px; }

.banner .mw {
  background-position: 0 -2608px; }

.banner .mx {
  background-position: 0 -2624px; }

.banner .my {
  background-position: 0 -2640px; }

.banner .mz {
  background-position: 0 -2656px; }

.banner .na {
  background-position: 0 -2672px; }

.banner .nc {
  background-position: 0 -2688px; }

.banner .ne {
  background-position: 0 -2704px; }

.banner .ng {
  background-position: 0 -2720px; }

.banner .ni {
  background-position: 0 -2736px; }

.banner .nl {
  background-position: 0 -2752px; }

.banner .bq {
  background-position: 0 -2752px; }

.banner .no {
  background-position: 0 -2768px; }

.banner .bv, .banner .nq, .banner .sj {
  background-position: 0 -2768px; }

.banner .np {
  background-position: 0 -2784px; }

.banner .nr {
  background-position: 0 -2800px; }

.banner .nz {
  background-position: 0 -2816px; }

.banner .om {
  background-position: 0 -2832px; }

.banner .pa {
  background-position: 0 -2848px; }

.banner .pe {
  background-position: 0 -2864px; }

.banner .pf {
  background-position: 0 -2880px; }

.banner .pg {
  background-position: 0 -2896px; }

.banner .ph {
  background-position: 0 -2912px; }

.banner .pk {
  background-position: 0 -2928px; }

.banner .pl {
  background-position: 0 -2944px; }

.banner .pr {
  background-position: 0 -2960px; }

.banner .ps {
  background-position: 0 -2976px; }

.banner .pt {
  background-position: 0 -2992px; }

.banner .pw {
  background-position: 0 -3008px; }

.banner .py {
  background-position: 0 -3024px; }

.banner .qa {
  background-position: 0 -3040px; }

.banner .re {
  background-position: 0 -3056px; }

.banner .ro {
  background-position: 0 -3072px; }

.banner .rs {
  background-position: 0 -3088px; }

.banner .ru {
  background-position: 0 -3104px; }

.banner .rw {
  background-position: 0 -3120px; }

.banner .sa {
  background-position: 0 -3136px; }

.banner .sb {
  background-position: 0 -3152px; }

.banner .sc {
  background-position: 0 -3168px; }

.banner .sd {
  background-position: 0 -3184px; }

.banner .se {
  background-position: 0 -3200px; }

.banner .sg {
  background-position: 0 -3216px; }

.banner .si {
  background-position: 0 -3232px; }

.banner .sk {
  background-position: 0 -3248px; }

.banner .sl {
  background-position: 0 -3264px; }

.banner .sm {
  background-position: 0 -3280px; }

.banner .sn {
  background-position: 0 -3296px; }

.banner .so {
  background-position: 0 -3312px; }

.banner .sr {
  background-position: 0 -3328px; }

.banner .st {
  background-position: 0 -3344px; }

.banner .sv {
  background-position: 0 -3360px; }

.banner .sy {
  background-position: 0 -3376px; }

.banner .sz {
  background-position: 0 -3392px; }

.banner .tc {
  background-position: 0 -3408px; }

.banner .td {
  background-position: 0 -3424px; }

.banner .tg {
  background-position: 0 -3440px; }

.banner .th {
  background-position: 0 -3456px; }

.banner .tj {
  background-position: 0 -3472px; }

.banner .tl {
  background-position: 0 -3488px; }

.banner .tm {
  background-position: 0 -3504px; }

.banner .tn {
  background-position: 0 -3520px; }

.banner .to {
  background-position: 0 -3536px; }

.banner .tr {
  background-position: 0 -3552px; }

.banner .tt {
  background-position: 0 -3568px; }

.banner .tv {
  background-position: 0 -3584px; }

.banner .tw {
  background-position: 0 -3600px; }

.banner .tz {
  background-position: 0 -3616px; }

.banner .ua {
  background-position: 0 -3632px; }

.banner .ug {
  background-position: 0 -3648px; }

.banner .us {
  background-position: 0 -3664px; }

.banner .uy {
  background-position: 0 -3680px; }

.banner .uz {
  background-position: 0 -3696px; }

.banner .va {
  background-position: 0 -3712px; }

.banner .vc {
  background-position: 0 -3728px; }

.banner .ve {
  background-position: 0 -3744px; }

.banner .vg {
  background-position: 0 -3760px; }

.banner .vi {
  background-position: 0 -3776px; }

.banner .vn {
  background-position: 0 -3792px; }

.banner .vu {
  background-position: 0 -3808px; }

.banner .ws {
  background-position: 0 -3824px; }

.banner .ye {
  background-position: 0 -3840px; }

.banner .za {
  background-position: 0 -3856px; }

.banner .zm {
  background-position: 0 -3872px; }

.banner .zw {
  background-position: 0 -3888px; }

.banner .sx {
  background-position: 0 -3904px; }

.banner .cw {
  background-position: 0 -3920px; }

.banner .ss {
  background-position: 0 -3936px; }

.banner .nu {
  background-position: 0 -3952px; }
