html {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; }

body {
  background-color: #EDEEF0;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 70px;
  margin: 0; }

ul.accordion {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.accordion li div span:nth-child(1) {
    background-color: transparent;
    margin-top: 1px; }
  ul.accordion li div span:nth-child(2) {
    display: inline-block;
    margin-left: 1%; }
  ul.accordion li div span:nth-child(3) {
    display: inline-block;
    margin-left: 2%; }
  ul.accordion li div span:nth-child(4) {
    display: inline-block;
    text-align: center;
    width: 8%;
    float: right;
    margin-right: 7%; }
  ul.accordion li div span[class="live"] {
    background-color: #ff0000; }
  ul.accordion li div span[class="soon"] {
    background-color: #2e8b57; }
  ul.accordion li p {
    height: 30px;
    line-height: 30px; }
  ul.accordion li p span {
    display: inline-block;
    float: right;
    margin-right: 8%;
    font-weight: 600; }

.accordion .item .title {
  margin: 0 0 1px 0;
  padding: 8px;
  background-color: #6C6D6F;
  border: none;
  color: #fff;
  position: relative; }

.accordion .item .title:after {
  content: '\f078';
  font-family: 'FontAwesome';
  position: absolute;
  top: 8px;
  right: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.accordion .item.open .title:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.accordion .item .content {
  padding: 0 0 0 10px;
  margin: 0;
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden; }

.accordion .item.open .content {
  height: auto; }

button.today-date {
  background-color: #595a5c;
  color: #FFFFFF;
  padding: 5px 10px 5px 5px;
  width: 100%;
  border: none;
  margin-bottom: 3px; }
  button.today-date span:nth-child(2) {
    float: right; }

button.folding {
  background-color: #7c7d7f;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 2px; }

button.folding.active, button.folding:hover {
  background-color: #595a5c; }

button.folding:after {
  content: "";
  color: #6C6D6F;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

button.folding.active:after {
  content: ""; }

div.panel {
  padding: 0;
  max-height: 0;
  border: none;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

button {
  -webkit-border-radius: 0;
  border-radius: 0; }

.navbar {
  background-color: #333333;
  margin-bottom: 0;
  -webkit-box-shadow: -1px -4px 21px 2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -4px 21px 2px rgba(0, 0, 0, 0.75); }

.navbar-inverse .navbar-nav > li > a {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500; }

.navbar-inverse .navbar-nav > li i.fa {
  margin-right: 5px; }

.navbar-inverse .navbar-nav > li i.fa:hover {
  color: #DD2824; }

ul.navbar-nav {
  bottom: 0;
  padding: 0;
  margin: 0; }

.sidenav {
  padding-left: 0;
  padding-right: 0; }

.results {
  padding: 10px;
  height: 40px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  border: 1px solid #E4E0E9; }

.results div:not(:last-child) {
  height: 100%;
  border-right: 1px solid #E4E0E9; }

div.stream_main {
  margin: 0 0 20px 0;
  padding: 0; }

object, iframe {
  width: 100%;
  height: 350px; }

li > button.btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 42px;
  padding: 2px;
  background-color: #333333;
  color: #FFCC00; }

li > button.btn img {
  height: 100%;
  float: left; }

div.news_title {
  font-weight: 600;
  color: #6C6D6F;
  text-transform: uppercase;
  margin-bottom: 10px; }

div.well {
  height: auto;
  margin-bottom: 6px;
  padding: 10px;
  -webkit-border-radius: 0;
  border-radius: 0;
  max-width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #E4E0E9;
  font-size: 12px; }

div.well aside > figure {
  font-size: 11px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px; }

div.well aside details {
  font-weight: 400; }

div.well aside > div {
  font-weight: 400;
  color: #6C6D6F; }

div.well div > img {
  width: 100%;
  margin-bottom: 5px; }

button {
  -webkit-border-radius: 0;
  border-radius: 0; }

div.links {
  background-color: #FFCC00;
  margin: 0; }

table {
  border: 1px solid #905bd8;
  margin: 0;
  padding: 0; }

tr th {
  text-align: center;
  color: #595959;
  height: 20px;
  margin: 0;
  padding: 0; }

.table thead tr th {
  text-align: left;
  color: #595959;
  height: 30px;
  margin: 0;
  padding: 5px;
  background-color: #FFDD00; }

.table tbody tr td {
  text-align: left;
  color: #595959;
  height: 15px;
  margin: 0;
  padding: 5px; }

td img {
  height: 20px;
  margin: 0;
  padding: 0; }
