p.accordion {
  margin: 0; }

.accordion a {
  padding: 10px;
  background: #ddd;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 1px; }

.accordion-content {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 1px 0; }

button.today-date {
  background-color: #595a5c;
  color: #FFFFFF;
  padding: 5px;
  width: 100%;
  border: none;
  margin-bottom: 3px; }

button.folding {
  background-color: #7c7d7f;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 2px; }

button.folding.active, button.folding:hover {
  background-color: #595a5c; }

button.folding:after {
  content: "";
  color: #6C6D6F;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

button.folding.active:after {
  content: ""; }

div.panel {
  padding: 0;
  max-height: 0;
  border: none;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; }

body {
  background-color: #EDEEF0;
  font-family: Arial, sans-serif;
  padding-top: 70px;
  margin: 0; }

button {
  -webkit-border-radius: 0;
  border-radius: 0; }

.navbar {
  background-color: #333333;
  margin-bottom: 0;
  -webkit-box-shadow: -1px -4px 21px 2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -4px 21px 2px rgba(0, 0, 0, 0.75); }

.navbar-inverse .navbar-nav > li > a {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500; }

.navbar-inverse .navbar-nav > li i.fa {
  margin-right: 5px; }

.navbar-inverse .navbar-nav > li i.fa:hover {
  color: #FFCC00; }

ul.navbar-nav {
  bottom: 0;
  padding: 0;
  margin: 0; }

.sidenav {
  padding-left: 0;
  padding-right: 0; }

.results {
  padding: 15px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  border: 1px solid #E4E0E9; }

.results div:not(:last-child) {
  height: 100%;
  border-right: 1px solid #E4E0E9; }

.results div:last-child {
  height: inherit;
  border-right: none; }

div.stream_main {
  margin: 0 0 20px 0;
  padding: 0; }

object, iframe {
  width: 100%;
  height: 350px; }

li > button.btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 42px;
  background-color: #333333;
  color: #FFCC00; }

li > button.btn img {
  height: 100%;
  float: left; }

div.news_title {
  font-weight: 600;
  color: #6C6D6F;
  text-transform: uppercase;
  margin-bottom: 10px; }

div.well {
  height: auto;
  margin-bottom: 6px;
  padding: 10px;
  -webkit-border-radius: 0;
  border-radius: 0;
  max-width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #E4E0E9;
  font-size: 12px; }

div.well aside > figure {
  font-size: 11px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px; }

div.well aside details {
  font-weight: 400; }

div.well aside > div {
  font-weight: 400;
  color: #6C6D6F; }

div.well div > img {
  width: 100%;
  margin-bottom: 5px; }

button {
  -webkit-border-radius: 0;
  border-radius: 0; }

div.links {
  background-color: #FFCC00;
  margin: 0; }

table {
  border: 1px solid #905bd8;
  margin: 0;
  padding: 0; }

tr th {
  text-align: center;
  color: #595959;
  height: 20px;
  margin: 0;
  padding: 0; }

.table thead tr th {
  text-align: left;
  color: #595959;
  height: 30px;
  margin: 0;
  padding: 5px;
  background-color: #FFDD00; }

.table tbody tr td {
  text-align: left;
  color: #595959;
  height: 15px;
  margin: 0;
  padding: 5px; }

td img {
  height: 20px;
  margin: 0;
  padding: 0; }
