<div class="main container"  ng-controller="SecondController">
	<div class="col-sm-12">
		<h2>{{msg}}</h2>

<div class="container-fluid text-center">
  <h2>Barcelona</h2><br>
  
  <div class="row text-center">
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Messi</strong></p>
        <p>Forward</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Suares</strong></p>
        <p>Forward</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Defender</strong></p>
        <p>Defender</p>
      </div>
    </div>
     <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Forward</strong></p>
        <p>Forward</p>
      </div>
    </div>
         <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Forward</strong></p>
        <p>Forward</p>
      </div>
    </div>
         <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Forward</strong></p>
        <p>Forward</p>
      </div>
    </div>


      </div>

     </div>
    </div>
  </div>