<div class="container" ng-controller="ThirdController">
	<div class="row content">
		<div class="container-fluid ">
			<div class="col-sm-12">
				Text
			</div>
		</div>
	</div>
		<div class="row content">
			<div class="container-fluid text-center">
			<nav class="col-xs-12 col-sm-2 sidenav">
				<ul class="nav nav-pills nav-stacked">
					<li><button type="button" class="btn btn-block">Channel 1</button></li>
					<li><button type="button" class="btn btn-block">Channel 1</button></li>
					<li><button type="button" class="btn btn-block">Channel 1</button></li>
					<li><button type="button" class="btn btn-block">Channel 1</button></li>
					<li><button type="button" class="btn btn-block">Channel 1</button></li>
					<li><button type="button" class="btn btn-block">Channel 1</button></li>
					<li><button type="button" class="btn btn-block">Channel 1</button></li>
					<li><button type="button" class="btn btn-block">Channel 1</button></li>
				</ul>
			</nav>

			<div class="col-xs-12 col-sm-7 text-left">

				<object width="400" data="http://www.youtube.com/v/XGSy3_Czz8k">
				</object>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<hr>

				<div class="row links" >
					<div class="col-sm-2">Link 1</div>
					<div class="col-sm-2">Link 2</div>
					<div class="col-sm-2">Link 3</div>
					<div class="col-sm-2">Link 4</div>
					<div class="col-sm-2">Link 5</div>
					<div class="col-sm-2">Link 6</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<h2>{{msg}}</h2>
						<p>Lorem ipsum...</p>
						<p>Lorem ipsum...</p>
						<p>Lorem ipsum...</p>
						<p>Lorem ipsum...</p>
					</div>
				</div>

			</div>

			<div class="col-xs-12 col-sm-3 sidenav">

				<div class="row">
					<div class="col-xs-6 col-sm-12  col-md-12">
						<div class="well">
						  <p>LAST NEWS</p>
					    </div>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-12">
						<div class="well">
							<p>LAST NEWS</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-12">
						<div class="well">
							<p>LAST NEWS</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-12">
						<div class="well">
							<p>LAST NEWS</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-12">
						<div class="well">
							<p>LAST NEWS</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-12">
						<div class="well">
							<p>LAST NEWS</p>
						</div>
					</div>
				</div>



			</div>

		</div>
	</div>

	<footer class="container-fluid text-center">
		<p>Footer Text</p>
	</footer>


</div>