<div class="main container" ng-controller="radioController" >
	<div class="col-sm-12">

  <h2>{{msg}}</h2>
  <p>{{description}}</p>
  <div class="row text-center">
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Radio</strong></p>
        <p>online</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Radio</strong></p>
        <p>online</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Radio</strong></p>
        <p>online</p>
      </div>
    </div>
     <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Radio</strong></p>
        <p>online</p>
      </div>
    </div>
         <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Radio</strong></p>
        <p>online</p>
      </div>
    </div>
         <div class="col-sm-2">
      <div class="thumbnail">
        <img src="" alt="">
        <p><strong>Radio</strong></p>
        <p>online</p>
      </div>
    </div>


      </div>

    </div>
  </div>