

<div class="container">
  <div class="col-sm-8">
    <p>{{ description | euroCups}}</p>
    <p>{{ today | date:'longDate' }}</p>
    
    <form action="">
      <input type="text" class="form-control" placeholder="Search..." ng-model="search">
    </form>

    <p>
      <a class="btn btn-default" href="#/clubs/{{f.id}}" role="button">Click!</a>
    </p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Country</th>
          <th>Club</th>
          <th>Stadium</th>
          <th>Sponsor</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="f in infoClub">
          <td><img ng-src="{{f.imageUrl}}" alt="{{f.club}}"></td>
          <td>{{f.country  }}</td>
          <td>{{f.club}}</td>
          <td>{{f.stadium}}</td>
          <td>{{f.sponsor}}</td>
        </tr>
      </tbody>
    </table>


  </div>
  
  
</div>
