<div class="container">
	<div class="col-sm-12">
		<h2>Team</h2>

<div class="container-fluid text-center">
  <h2>Barcelona</h2><br>
  <div class="row text-center">
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src=".jpg" alt=" width="400" height="300">
        <p><strong>Messi</strong></p>
        <p>Forward</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src=".jpg" alt="" width="400" height="300">
        <p><strong>Suares</strong></p>
        <p>Forward</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src=".jpg" alt="" width="400" height="300">
        <p><strong>Defender</strong></p>
        <p>Defender</p>
      </div>
    </div>
     <div class="col-sm-2">
      <div class="thumbnail">
        <img src=".jpg" alt=" width="400" height="300">
        <p><strong>Messi</strong></p>
        <p>Forward</p>
      </div>
    </div>
         <div class="col-sm-2">
      <div class="thumbnail">
        <img src=".jpg" alt=" width="400" height="300">
        <p><strong>Messi</strong></p>
        <p>Forward</p>
      </div>
    </div>
         <div class="col-sm-2">
      <div class="thumbnail">
        <img src=".jpg" alt=" width="400" height="300">
        <p><strong>Messi</strong></p>
        <p>Forward</p>
      </div>
    </div>


  </div>

</div>